body {
    font-family: 'Lato', sans-serif;
    color: #fff;
}

main.pure-g {
    display: block;
}

.button-xsmall {
    font-size: 70%;
}

.button-small {
    font-size: 85%;
}

.button-large {
    font-size: 110%;
}

.button-xlarge {
    font-size: 125%;
}

.loader {
    display: none;
}

.pure-form legend {
    color: #fff;
}

.l-box {
    padding: 15px;
    box-sizing: border-box;
}

.peopleList {

    table {
        width: 100%;
    }
}

#newPerson form input,
#newPerson form textarea {
    color: #333;
}

.peopleBox {
    .peopleList {
        margin-bottom: 10px;
    }
}

.paginator {
    .button-xsmall {
        margin-right: 8px;
    }

    .paginator-content {
        float: right;
    }
}
